body, html {
  height: 100%;
}

td {
    border: 5px solid transparent;
    background-clip: padding-box;
}

tr.spaceUnder>td {
    padding-bottom: 8px;
  }

.fundo{
    background-color: #5E7561;
}

.plantas{
    height: 200px;
    width: 225px;
    max-width: 225px;
    max-height: 200px;
}

.plantas_desc{
    height: auto;
    width: auto;
    background-color: transparent;
    text-align: left;
}

button{
    text-align: left;
}

.orcamento{
    border: 5px solid white;
}

.right{
    text-align: right;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
.navbar-custom{
    background-color: #ffffff;
}

a{
    color: green;
}

a:hover{
    color: #000000;
}



.footer{

    left: 0px;
    bottom:0px;
    width:100%;
    background-color: #4c7032;
    text-align: center;
    height: 40px;
    color: #ffffff;
}

.nav-pills > a.active {
    /*background-color: #9dbfb0 !important;*/
    background-color: #ffffff !important;
    color: #4c7032 !important;
    }
    
    .nav-pills > a:hover {
    color: #4c7032 !important;
    }
    /*Cor da letra do menu*/
    .nav-link-color {
    color: #4c7032 !important;
    font-size: 16px;
    }

/* botão de editar e excluir da página produtos*/
.btn-color{
    background-color: #ffffff;
    color: #000000;
}

.btn-color:hover{
    color:#ffffff;
    background-color: black;
}

.table-color{
    background-color: #5E7561 !important;
    color: #ffffff !important;
}

.font{
    font-size: 20px;
    font-family: 'Book Antiqua';
}

.font-money{
    font-size: 20px;
    font-family: calibri;
}

/*Título do 'PlantaSou?'*/
.titulo{
    font-size: 38px;
}

/* Título das orientações das páginas*/

.titulo2{
    font-size: 28px;
}

/* 'cadastre-se já'*/

.cadastro{
    font-size: 23px;
}

.btn-excluir{
    background-color: #6c1111 !important;
    color: #ffffff !important;
}

.plantasou{
    font-size: 20px;
    font-family: 'calibri';
    color:#4c7032 !important;
}

.margin{
    margin-left: 190px;
}

/* borda do buscar*/
.borda{
    border-color: #000000;
    color: black !important;
}

.borda:hover{
    color:#ffffff !important;
}

/*botão "entrar" no modal do login*/
.borda-modal{
    border-color: #000000;
    color: #000000;
}

.borda-modal:hover{
    background-color: #000000;
    color: #ffffff;
}

/* botão do modal do login*/
.fechar{
    border-color: #000000;
    color: #000000;
}

.fechar:hover{
    background-color: #000000;
    color: #ffffff;
}

/* fundo do botão "pesquisar" */
.borda:hover{
    background-color: #000000;
}

.card-custom{
    background-color: #4c7032;
}

/*.alert{
    background-color: #d6fccf;
}*/

.modal-header{
    background-color: #000000;
    color: #ffffff;
}

.modal-body{
    background-color: #ffffff;
}

.cor_x{
    background-color:#ffffff;
}

/*margin para a página de cadastro_produto*/
.margin_text{
    text-align: left !important;
}

.img-margin{
    margin-top: 13px;
}

.tabela{
    margin-top: 20px;
    margin-left: 170px;
    background-color: #ffffff;
    margin-top: 100px;
}

.centro{
    text-align: center;
}

a:link {
    text-decoration: none;
  }

.altera{
    color:black;
}

.altera:hover{
    color:#ffffff;
}

/* Mensagem de boas vindas*/
.active_usuario{
    background-color: #ffffff !important;
    color: #4c7032 !important;
    text-align: center;
}

.direito_autoral{
    font-size:15px;
}

.adicionar{
    color:black;
    font-size: 25px;
    background-color: #ffffff;

}


.parallax {
    background-image: url("../imgs/fundos/montanha.jpeg");

    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .parallax_2 {
    background-image: url("../imgs/fundos/mesa_.jpg");
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @font-face {
      font-family: 'Sophia';
      src: url(../fonte/Sophia.ttf);
  }
  .fonte{
     font-family: 'Sophia';
     color:white;
     text-align: center;
     line-height:550px;
     font-size: 120px;
  }
  .fonte2{
    font-family: 'Book Antiqua';
    color:white;
    text-align: center;
    font-size: 25px;
    margin-top: -260px;
 }

 .topnav {
    /*overflow: hidden;*/
    background-color: #f1f1f1;
    /*z-index: 1 !important;*/
  }
  
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid transparent;
  }
  
  .topnav a:hover {
    border-bottom: 3px solid rgb(0, 0, 0);
  }
  
  .topnav a.active {
    border-bottom: 3px solid rgb(0, 0, 0);
  }

  a.plantasou{
    border-bottom: none !important;
  }

.fonte3{
    font-family: 'Book Antiqua';
}

.letra{
    font-family:'Book Antiqua';
}

.tamanho{
    width: 450px;
    height: 550px;
}

/*título para todas as páginas*/

.paginas{
    font-family:'Book Antiqua';
}

/* tamanho dos cards da página 'produtos'*/

.tamanho2{
    width: 450px;
    height: 750px;
}

/*Posição dos botões da página cultivos*/

.posicao_imagem{
    margin-left:100px;
}

.posicao_nome{
    margin-left:110px;
}

.posicao_botao{
    margin-right:50px;
    margin-top: 36px;
}

/*posição dos botões da página produtos do admin*/

.posicao_bot{
    margin-top: -40px;
    margin-bottom: 40px;
    margin-left: 271px;
}

/*posição dos botões na página produtos do user*/

.posicao{
    margin-top: -40px;
    margin-bottom: 40px;
    margin-left: 327px;
}

/*posição dos botões na página cultivos do admin*/

.direcao_b{
  margin-left: 105px;
}

.direcao_b2{
    margin-left: -900px;
  }
  
/*fundo do alert da página orçamento*/

.fundoo{
    background-color: #ffffff;
    color:black;
    border: solid 10px;
    border-color: #d6fccf;
    font-size: 23px;
}

.fundoo2{
    color: black;
    text-decoration-line: underline !important;
}

/*fonte da página orçamento e histórico*/

.fonte_{
    font-family:'Book Antiqua';
    font-size: 18px;
}

textarea{
    overflow: auto;
}

/*--------------------*/

.dropdown a:hover{
    color: #4c7032;
}

.dropdown a{
    color: #4c7032;
}

/*card das páginas de erro de login e cadastro*/

.card_cadas{
    color:#000000 !important;
    text-decoration-line:underline !important;
}

.posicao_card{
    text-align: center !important;
    margin-left: 490px;
    width: 400px;
    background-color: #D1E7DD !important;
    font-size: 20px;
}

.fundo_card{
    background-color: #D1E7DD !important;
}
