body, html {
  height: 100%;
}

td {
    border: 5px solid transparent;
    background-clip: padding-box;
}

tr.spaceUnder>td {
    padding-bottom: 8px;
  }

.fundo{
    background-color: #5E7561;
}

.plantas{
    height: 200px;
    width: 225px;
    max-width: 225px;
    max-height: 200px;
}

.plantas_desc{
    height: auto;
    width: auto;
    background-color: transparent;
    text-align: left;
}

button{
    text-align: left;
}

.orcamento{
    border: 5px solid white
}

.right{
    text-align: right;
}

.navbar-custom{
    background-color: #4c7032;
}

a{
    color: green;
}

a:hover{
    color: #654321;
}

.active{
    background-color:#000000;
}

.footer{
    position:fixed;
    left: 0px;
    bottom:0px;
    width:100%;
    background-color: #4c7032;
    text-align: center;
    height: 40px;
    color: white;
}

.nav-pills > li > a.active {
    /*background-color: #9dbfb0 !important;*/
    background-color: rgb(98, 136, 70) !important;
    color: #ffffff !important;
    }
    
    .nav-pills > li > a:hover {
    color: #ffffff !important;
    }
    
    .nav-link-color {
    color: #ffffff;
    font-size: 22px;
    }

.btn-color{
    background-color: #5E7561 !important;
    color: #ffffff !important;
}

.table-color{
    background-color: #5E7561 !important;
    color: #ffffff !important;
}

.font{
    font-size: 25px;
    font-family: calibri;
}

.font-money{
    font-size: 30px;
    font-family: calibri;
}

.titulo{
    font-size: 38px;
}

.btn-excluir{
    background-color: #6c1111 !important;
    color: #ffffff !important;
}

.plantasou{
    font-size: 22px;
}

.margin{
    margin-left: 800px;
}

.borda{
    border-color: #ffffff;
}

.borda-modal{
    border-color: #4c7032;
    color: #4c7032;
}

.borda-modal:hover{
    background-color: #4c7032;
    color: #ffffff;
}

.fechar{
    border-color: #000000;
    color: #000000;
}

.fechar:hover{
    background-color: #000000;
    color: #ffffff;
}

.borda:hover{
    background-color: rgb(98, 136, 70);
}

.card-custom{
    background-color: #4c7032;
}

.alert{
    background-color: #d6fccf;
}

.modal-header{
    background-color: #4c7032;
    color: #ffffff;
}

.modal-body{
    background-color: #d6fccf;
}

.button-margin{
    margin-left: 800px;
    margin-bottom: 10px;
}

.img-margin{
    margin-top: 13px;
}